@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body{
    background-color: #b8aaa7b9;
}

header{
    background-image: url("../img/bg_header2.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;    
}

#header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 36px;
    background-color: #590a2fcd;    
}

#header-top #logo-cont{
    display: flex;
    align-items: center;    
}

#header-top #logo-cont img{
    height: 36px;
}

#header-top span{
    font-size: 3em;
    font-weight: 600;
    margin-left: 36px;
    color: #FFF;
    display: inline-block;    
}

#header-top #main-nav ul{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;  
}

#header-top #main-nav ul li{    
    display: inline-block;
    margin-left: 2rem;
}

#header-top #main-nav ul li a{    
    color: #FFF;
    font-size: 1.4em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

#header-top #main-nav ul li a:hover{    
    color: #b8aaa7;
}

#banner{
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#banner p{
    font-weight: 700;
    font-size: 3em;
    padding: 20px;
    background-color: #fff;
    color: #590a2f;
    display: inline;
    text-align: center;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
}

#banner p span{
    font-weight: 700;
    font-size: 2em;    
    line-height: 1.5em;
    display: block;
    
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

main h1{
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 3em;
    margin: 18px 0;
    text-align: center;
    color: #590a2f;
}

#contact{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template: 1fr 1fr;
    grid-gap: 1rem;    
    background-color: white;
    padding: 18px 36px;
    border-radius: 10px;
    margin-top: -72px;
    margin-bottom: 36px;
    box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
}

#contact h2{
    font-weight: 600;
    color: #b8aaa7;
    padding: 18px 36px 0;
    font-size: 2em;
}

#contact-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-gap: 2em;
}

#contact-form{
    padding: 0 18px;
}

#contact-form .form-group{
    margin: 18px 0;
    
}

#contact-form .form-group input{
    height: 3em;
    width: 100%;
    padding-left: 18px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #b8aaa7;
    background-color: #f1f1f1;
}

textarea:focus, input:focus{
    outline: none;
    
}
#contact-form .form-group input:focus,
#contact-form .form-group textarea:focus{
    border: 1px solid #590a2f;
}

#contact-form .form-group textarea{
    height: 10em;
    width: 100%;
    padding-left: 18px;
    padding-top: 9px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #b8aaa7;
    background-color: #f1f1f1;
}

#contact-form .form-group #btn-submit{
    background-color: #590a2fb9;
    padding-left: 0;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1px;
}

#contact-form .form-group #btn-submit:hover{
    background-color: #590a2f;
}

#contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 18px;
    margin: 18px 0;
}

#contact-info ul{
    list-style: none;
}

#contact-info ul li{
    color: #b8aaa7;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0 0 18px;
}

#contact-info ul li i{
    margin-right: 9px;
}

#contact-info iframe{
    border-radius: 10px;
}

footer{
    width: 100%;
    min-height: 100px;
    padding: 36px 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background-color: #590a2f50;
}

footer #social, 
footer #bottom-nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0;
    flex-wrap: wrap;
}

footer #social li, 
footer #bottom-nav li{
    list-style: none;
}

footer #social li a{
    font-size: 3em; 
    color: #fff;
    margin: 0 18px;   
    display: inline-block;
    transition: 0.5s;
}

footer #social li a:hover{
    transform: translateY(-9px);
}

footer #bottom-nav li a{
    font-size: 1.8em; 
    color: #fff;
    margin: 0 18px;   
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    opacity: 0.75;
}

footer #bottom-nav li a:hover{
    opacity: 1;
}

footer p{    
    text-align: center;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 1.4em;
}

@media all and (min-width:1151px) and (max-width:1300px){

}

@media all and (min-width:650px) and (max-width:1150px){
    #contact{
        width: 90%;
        margin: -72px auto 36px;
        grid-gap: 0.5rem;    
        padding: 18px 18px;
        border-radius: 8px;    
    }
}

@media all and (max-width:649px){

    header{
        height: 80vh;
    }
    
    #header-top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;        
        background-color: #590a2fcd;    
    }
    
    #header-top #logo-cont{
        display: flex;
        align-items: center;    
        flex-direction: column;
    }
    
    #header-top #logo-cont img{
        height: 36px;
        margin-bottom: 18px;
    }
    
    #header-top span{
        font-size: 2.3em;
        font-weight: 600;
        color: #FFF;
        display: inline-block;  
        margin-left: 0;  
    }
    
    #header-top #main-nav ul{    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;  
    }
    
    #header-top #main-nav ul li{    
        display: inline-block;
        margin-left: 0;
        padding: 9px 0;
    }
    
    #header-top #main-nav ul li a{    
        color: #FFF;
        font-size: 1.8em;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    #header-top #main-nav ul li a:hover{    
        color: #b8aaa7;
    }
    
    #banner{
        margin: 0;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    
    #banner p{
        font-weight: 700;
        font-size: 3em;
        padding: 20px;
        background-color: #fff;
        color: #590a2f;
        display: inline;
        text-align: center;
        box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
    }
    
    #banner p span{
        font-weight: 700;
        font-size: 2em;    
        line-height: 1.5em;
        display: block;
        
    }

    #contact{
        width: 95%;
        margin: -72px auto 36px;
        padding: 9px 18px;
        border-radius: 8px;    
    }

    #contact-inner{
        display: flex;  
        flex-direction: column;
        justify-content: center;
    }
}