@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

body{
    background-color: #b8aaa7b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff69;
    
}

p{
    font-size: 3rem;
    font-weight: 700;    
    display: inline;
    z-index: 1000;
}